<!--<!doctype html>-->

<body ng-controller="coffeesCtrl">
 Search: <input ng-model="query">
<table style="width:100%" class="table table-striped">
    <tr>
    <th>Reviews</th>
    <th>Brand</th> 
    <th>Name</th>
    <th>Country</th>
    </tr>
    <tr ng-repeat="coffee in coffeeList | filter:query">
        <td><a href="#/reviews/{{coffee.id}}">Review</a></td>
        <td>{{coffee.brand}}</td>
        <td>{{coffee.name}}</td>
        <td>{{coffee.country}}</td>
    </tr>   
</table>
</body>
</html>
