<body ng-controller="reviewsCtrl">

<table style="width:100%" class="table table-striped">
    <tr>
    <th>Reviewer</th>
    <th>Comment</th> 
    <th>Ratings</th>
    </tr>
    <tr ng-repeat="review in reviews">
        <td>{{review.reviewer}}</td> 
        <td>{{review.comment}}</td>
        <td>{{review.rating}}</td>
    </tr>   
</table>
</body>
</html>
